.cards {
    display: flex;
    background-color: #f7f7f7;
    border-radius: 25px;
    margin: 0 100px 30px 100px;
    padding: 50px;
    box-sizing: border-box;
    @include breakpoint-tablet{
        margin: 30px;
        padding: 0;
        background-color: white;
    }
    @include breakpoint-mobile{
        margin: 20px;
    }
}

.articles {
    display: grid; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    grid-template-columns: repeat(3, 1fr); 
    grid-column-gap: 40px; 
    row-gap: 40px;
    @include breakpoint-tablet{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
    @include breakpoint-mobile{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
}

.article{
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;

    @include breakpoint-tablet{
        width: 100%;
    }
    &::after{
        box-shadow: 0 8px 16px $background-color;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &:hover{
        box-shadow: 0 8px 16px $background-color;
        &::after{
            opacity: 1;
        } 
    }

    &__link{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
