.host{
    display: flex;
    align-items: center;

    &__name{
        font-size: 18px;
        font-weight: 500;
        color: $color-primary;
        margin: 0;
        padding-right: 10px;
        text-align: right;
        @include breakpoint-tablet{
            font-size: 16px;
        }
        @include breakpoint-mobile{
            font-size: 12px;
        }
        &--firstname{
            margin: 0;
            padding: 0;
        }
        &--lastname{
            margin: 0;
            padding: 0;
        }
    }
    &__image{
        border-radius: 100px;
        background-color: #c4c4c4;
        width: 64px;
        height: 64px;
        object-fit: cover;
        @include breakpoint-mobile{
            width: 32px;
            height: 32px;
        }
    }
}