.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 115px;
    height: 25px;
    background-color: $color-primary;
    border-radius: 10px;
    margin: 5px 0;
    padding: 3px;
    @include breakpoint-tablet{
        min-width: 84px;
    }

    &__text{
        font-size: 14px;
        font-weight: 500;
        color:$color-title;
        text-align: center;
        @include breakpoint-tablet{
            font-size: 10px;
        }
    }

}